/dist
/temp
/out-tsc
/bazel-out
/node_modules
npm-debug.log
.idea/
.project
.classpath
.c9/
*.lunch
.setting/
*.sublime-workspace
.vscode/*
!.vscode/setting.json
?vscode/tasks.json
!.vscode.lunch.json
.history/*
